{
  "name": {{ (project.name ~ "-frontend") | to_json }},
  "version": {{ project.version | to_json }},
  "private": true,
  "description": {{ project.description | to_json }},
  "scripts": {{ frontend.scripts | to_json(2) | indent(2) }},
  "dependencies": {{ frontend.dependencies | to_json(2) | indent(2) }},
  "devDependencies": {{ frontend.devDependencies | to_json(2) | indent(2) }}
}
